<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Your thoughts betray you</h3>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Online
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <h3>You're My Only Hope</h3>
        <p>I've placed information vital to the survival...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Baby Yoda</h2>
        <h3>Size matters not</h3>
        <p>Do or do not. There is no try...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
